[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=/usr/share/icons/gnome/scalable/apps/webshortcuttools.svg
Exec=java -jar /usr/share/java/WebShortcutLaunch.jar %U
Comment=Launch Web Shortcuts
MimeType=application/x-mswinurl;application/x-webloc;application/x-mswebsite;
Name=Web Shortcut Launcher
